* {
    /* Display and Box Model  */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* Display and Box Model  */
    width: 100vw;
    height: 100vh;
}
.about {
    /* Display and Box Model  */
    min-height: 100vh;
    padding: 20px;

    /* Color  */
    background-color: #4143B1;
    color: #F1FFF6;

    /* Text  */
    text-transform: uppercase;
}
.about-container {
    /* Display and Box Model  */
    display: flex;
    border: 2px solid #5EF4D6;
    border-radius: 10px;

    /* Color  */
    background-color: #221727;
}
.about-title {
    /* Display and Box Model  */
    padding: 1rem;

    /* Color  */
    color: #24E5A3;

    /* Text  */
    text-align: center;
}
.about-title, 
.about-card-title {
    /* Text  */
    font-family: 'Viga', sans-serif;
}
.about-img {
    /* Display and Box Model  */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.about-card-title,
.about-card-body{
    /* Display and Box Model  */
    padding: 10px 20px;

    /* Text  */
    line-height: 1.9;
}
.about-card {
    margin: 15px;
}
.about-card-body {
    /* Color  */
    color: lightgray;

    /* Text  */
    font-weight: lighter;
}
.about-card-body,
#about-btn {
    font-family: 'Rubik', sans-serif;
}
#about-btn {
    /* Display and Box Model  */
    display: block;
    border-radius: 10px;
    width: 250px;
    padding: 10px 20px;
    
    /* Color  */
    background-color: #5EF4D6;
    color: #221727;
    
    /* Text  */
    font-size: 1.1rem;  
    font-weight: 700;
    text-align: center;
    text-decoration: none;

    /* Other  */
    transition: opacity 0.1s ease-in;
}
#about-btn:hover {
    opacity: 0.8;
}

/* add media queries  */
@media only screen and (max-width: 600px){
    .about-title {
        font-size: 1.6rem;
    }
    .about-container {
        flex-direction: column;
    }
}
@media only screen and (min-width: 600px) {
    #about-btn {
        /* Display and Box Model  */
        display: block;
        margin: 1rem;

        /* Text  */
        font-size: 1.3rem;
    }
}
@media only screen and (min-width:900px){
    .about-title {
        /* Display and Box Model  */
        padding-top: 100px;
        
        /* Text  */
        font-size: 2.5rem;
    }
    .about-card-title {
        /* Text  */
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .about-container {
        /* Display and Box Model  */
        width: 80%;
        margin: 20px auto;
    }
    #about-btn {
        /* Display and Box Model  */
        display: block;
        margin: 1rem;

        /* Text  */
        font-size: 1.1rem;
    }
}