* {
    /* Display and Box Model  */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* Display and Box Model  */
    width: 100vw;
    height: 100vh;
}
.main {
    /* Text  */
    font-family: 'Viga', sans-serif;
}