*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* margin: 0;
    padding: 0; */
    height: 100vh;
    width: 100vw;
}
.team{
    height: 100%;
    /* padding-top: 25px; */
    background-color: #4143B1;
    text-align: center;
    font-family: Viga, sans-serif;
}
/* .team-card{
    margin:25px;
} */
.team-title,
.team-card-title,
.team-card-subtitle{
    color: #5EF4D6;
}
.team-title{
    padding: 25px 0 20px 0;
}
.team-card{
    border-radius: 3%;
    background-color: #221727;
    width:80%;
    margin:50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-card-img{
    width: 75px;
    height: 75px;
    margin-top: -50px;
    border-radius: 50%;
    background: white;
}
.team-card,
.team-card-img,
.icon{
    border: 2px solid #5EF4D6;
}
.team-card-title,
.team-card-content{

    padding-top: 25px;
}
.team-card-content{
    color: #F1FFF6;
    font-family: Rubik, sans-serif;
}
.team-card-subtitle,
.team-card-content{
    opacity: 50%;

}
.icon-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon{
    /* fill: red; */
    width: 50px;
    /* height:50px; */

    border-radius: 25px;
    /* filter: invert(86%) sepia(21%) saturate(761%) hue-rotate(92deg) brightness(99%) contrast(107%); */
    /* filter: invert(85%) sepia(44%) saturate(529%) hue-rotate(101deg) brightness(99%) contrast(93%); */
    /* background-color: black; */

}