*{
    /* Display and Box Model  */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* Display and Box Model  */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.team{
    /* Display and Box Model  */
    min-height: 100vh;

    /* Color  */
    background-color: #4143B1;

    /* Text  */
    text-align: center;
    font-family: Viga, sans-serif;
}
.team-title{
    /* Display and Box Model  */
    padding: 20px 0 10px 0;

    /* Text  */
    font-size: 2rem;
}
.team-container{
    padding-bottom: 10px;
}
.team-card-title{
    /* Display and Box Model  */
    padding-top: 15px;

    /* Text  */
    font-size: 1.5rem;
}
.team-title,
.team-card-title,
.team-card-subtitle{
    color: #5EF4D6;
}
.team-card{
    /* Display and Box Model  */
    display: flex;
    flex-direction: column;
    width:80%;
    margin:100px auto;
    padding: 15px;
    border-radius: 3%;
    align-items: center;
    
    /* Color  */
    background-color: #221727;
}
.team-card-img{
    /* Display and Box Model  */
    width: 150px;
    margin-top: -90px;
    border-radius: 50%;

    /* Color  */
    background: white;
}
.team-card,
.team-card-img,
.icon{
    border: 2px solid #5EF4D6;
}
.team-card-content,
.icon-list{
    padding-top: 25px;
}
.team-card-content{
    color: #F1FFF6;
}
.team-card-subtitle,
.team-card-content{
    /* Color  */
    opacity: 50%;

    /* Text  */
    font-family: Rubik, sans-serif;
}
.team-card-subtitle{
    font-size: 0.6rem;
}
.icon-list{
    /* Display and Box Model  */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon{
    /* Display and Box Model  */
    width: 40px;
    margin: 6px;
    border-radius: 25px;
}

@media only screen and (min-width: 900px){
    .team-container{
        /* Display and Box Model  */
        display: flex;
        flex-direction: row;
    }
    .team{
        padding-top: 90px;
    }
    .team-card{
        width: 25%;
    }
}
