*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.team{
    min-height: 100vh;
    /* padding-top: 25px; */
    background-color: #4143B1;
    text-align: center;
    font-family: Viga, sans-serif;
}
.team-title{
    padding: 25px 0 0 0;
    font-size: 2rem;
}
.team-container{
    padding-bottom: 10px;
}
.team-card-title{
    padding-top: 15px;
    font-size: 1.5rem;
}
.team-title,
.team-card-title,
.team-card-subtitle{
    color: #5EF4D6;
}
.team-card{
    border-radius: 3%;
    background-color: #221727;
    width:80%;
    margin:100px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-card-img{
    width: 150px;
    /* height: 75px; */
    margin-top: -90px;
    border-radius: 50%;
    background: white;
}
.team-card,
.team-card-img,
.icon{
    border: 2px solid #5EF4D6;
}
.team-card-content,
.icon-list{
    padding-top: 25px;
}
.team-card-content{
    color: #F1FFF6;
    font-family: Rubik, sans-serif;
}
.team-card-subtitle,
.team-card-content{
    opacity: 50%;
}
.team-card-subtitle{
    font-size: 0.5rem;
}
.icon-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon{
    /* fill: red; */
    width: 40px;
    /* height:50px; */
    margin: 6px;
    border-radius: 25px;

}

@media only screen and (min-width: 900px){
    
}