* {
    /* Display and Box Model  */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* Display and Box Model  */
    width: 100vw;
    height: 100vh;
}
.header {
    font-family: 'Viga', sans-serif;
}
.navbar {
    /* Display and Box Model  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    /* Color  */
    background-color: #221727;
    border-bottom: 1px solid black;
    
}

/* ====== CSS for hamburger ======  */
.hamburger {
    display: none
}
.bar {
    /* Display and Box Model  */
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;

    /* Color  */
    background-color: #5EF4D6;

    /* Other */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* ====== CSS for Container ======= */
.container {
    /* Positioning  */
    position: relative;

    /* Display and Box Model  */
    height: 100vh;
    padding-top: 20px;

    /* Color  */
    background-color:#22172733;
    color: #F1FFF6;
}
.container:before {
    /* Positioning  */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    /* Display and Box Model  */
    content:'';
    background: url("../images/mintbean-dome.png") no-repeat center center/cover;
    width: 100%;
    height: 100%;
}

/* CSS for Navbar Content  */
.navbar-menu {
    /* Display and Box Model  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-item {
    /* Display and Box Model  */
    padding: 0.2rem;
    
    /* Text  */
    list-style: none;
    font-family: 'Rubik', sans-serif;
}
.navbar-link {
    /* Color  */
    color: #F1FFF6; 
    
    /* Text  */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}
.navbar-link:hover,
.navbar-link:active {
    /* Color  */
    color: #24E5A3; 
}
.navbar-btn {
    /* Display and Box Model  */
    border-radius: 10px;
    padding: 10px 20px;

    /* Color  */
    background-color: #5EF4D6;

    /* Text  */
    font-weight: bold;   
}
.navbar-btn a {
    /* Color  */
    color: black;

    /* Text  */
    text-decoration: none;
}

/* style for card and navbar btn  */
.card {
    /* Display and Box Model  */
    border: 2px solid #5EF4D6;
    border-radius: 10px;
    width: 40%;

    /* Color  */
    background-color: #221727c9 ;
}
.card-title {
    /* Text  */
    font-family: 'Viga', sans-serif;
    font-size: 1.6rem;
}
.card-body {
    /* Display and Box Model  */
    padding-bottom: 25px;
    
    /* Color  */
    color: lightgray;
}
.card-title, .card-body {
    /* Display and Box Model  */
    padding: 10px 20px;
    
    /* Text  */
    line-height: 1.6;
    text-align: left;
}
.card-title,
.card-btn,
.navbar-btn {
    text-transform: uppercase;
}
.card-body,
.card-btn,
.navbar-btn a {
    /* Text  */
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.card-btn,
.navbar-btn {

    /* Display and Box Model  */
    display: block;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 10px 20px;

    /* Color  */
    background-color: #5EF4D6;
    color: #221727;

    /* Text  */
    font-size: 1.3rem;  
    text-align: center;

    /* Other  */
    transition: opacity 0.1s ease-in;

}
.card-btn:hover,
.navbar-btn:hover {
    opacity: 0.8;
}

/* add media queries */
@media only screen and (max-width: 600px) {
    .navbar-menu {
        /* Positioning  */
        position: fixed;
        z-index: 1;
        left: -100%;
        top: 5rem;

        /* Display and Box Model  */
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
        
        /* Color  */
        background-color: #221727f7;
        box-shadow: 0 10px 25px rgba(0,0,0,0.05);

        /* Text  */
        text-align: center;

        /* Other  */
        transition: 0.3s;
    }
    .navbar-menu.active {
        left: 0;
    }
    .navbar-item {
        margin: 1rem 0;
    }
    .navbar-line {
        visibility: hidden;
    }
    .hamburger {
        /* Display and Box Model  */
        display: block;

        /* Other */
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .card {
        /* Display and Box Model  */
        width: 93%;
        margin: 5% auto;
        padding: 1rem;

        /* Text  */
        text-align: center; 
    }
}
@media only screen and (min-width: 600px) {
    .card {
        /* Display and Box Model  */
        margin: 7% 10% ;
        padding: 1rem;
    }
}
@media only screen and (min-width: 1200px) {
    .card-btn {
        width: 55%;
    }
}